| Welcome to bugzilla, #{@member.name}

| You you are invited to Name of the project

| Click link: #{link_to 'confirm', confirm_project_member_url(@project,@member) }.

|If you didn't request this, please ignore this email!
