<p>Hello <%= @resource.email %> you have requested to reset your password, plase click link below.
If you didn't request this, please ignore this email. Your password won't
 change until you access the link above via this e-mail and create a new one._%>!</p>


<p><%= link_to 'Reset password', edit_password_url(@resource, reset_password_token: @token) %></p>
